/* Your CSS goes here */
input, select {
    background-color: yellow;
}

#last_name {
    font-weight: bold;
}

#directions {
    border: 5px solid #9f0;
    padding: 5px; /* Not in the directions, but distances the text from the border for readability */
}
